%h1 Listing messages

%table
  %tr
    %th Sender
    %th Body
    %th Room
    %th Timestamp
    %th
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.sender
      %td= message.body
      %td= message.room
      %td= message.timestamp
      %td= link_to 'Show', message
      %td= link_to 'Edit', edit_message_path(message)
      %td= link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Message', new_message_path
