- title "Quote from #{@message.sender} in #{@message.room.name}"

%h1= "Quote from #{@message.sender} in #{@message.room.name}"

.panel.panel-default
  .panel-body
    %p=@message.body
    %p.text-right
      %span.text-muted= @message.timestamp.strftime("%c")
