- title "Quote from #{@message.sender} in #{@message.room.name}"

%h1= "Quote from #{@message.sender} in #{@message.room.name}"

.panel.panel-default
  .panel-body
    %p=@message.html_body
    %p.text-right
      %span.text-muted= @message.timestamp.in_time_zone('Pacific Time (US & Canada)').strftime("%H:%M on %b %d %Y (%Z)")
