.page-header
  = link_to @assignment.details, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-file
    Details
  = link_to assignments_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_assignment_path(@assignment), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1= @assignment.title

.row
  .col-sm-6
    .center-block.text-center
      %canvas.assignment-chart{height: 400, width: 400, :'data-id' => @assignment.id}
  .col-sm-6
    - students = Student.where_assignment_progress(@assignment)
    .panel.panel-default
      .panel-heading
        %h2.panel-title
          Students who have progressed to
          = link_to @assignment.to_s+":", @assignment
      - if students.length == 0
        .panel-body
          %p There are no students whose progress == this assignment
      .list-group
        - students.each do |student|
          %a.list-group-item{href: url_for(student)}= student.full_name
