- title "#{@student.full_name}"
.page-header
  - if @student.github_username
    = link_to @student.github_repo_url, :class=> 'btn btn-default', target: '_blank' do
      %span.icon-github-2
      GitHub
  - if admin?
    = link_to "mailto:#{@student.email}", :class=> 'btn btn-default', target: '_blank' do
      %span.glyphicon.glyphicon-inbox
      Email
    = link_to students_path, :class => 'btn btn-default' do
      %span.glyphicon.glyphicon-list-alt
      Students
    = link_to edit_student_path(@student), :class => 'btn btn-default' do
      %span.glyphicon.glyphicon-pencil
      Edit
  %h1= @student.full_name

- if Assignment.submission_deadline_past?
  .alert.alert-info
    The deadline for submitting lab assignments has passed. Your final grade for the lab section of the course is
    =@student.assignment_progress.grade rescue nil

- Assignment.find_each do |assignment|
  - submissions = Submission.where(assignment: assignment, student: @student).order(:tag)
  .panel{class: (submissions.completed.count > 0) ? 'panel-success' : 'panel-default'}
    .panel-heading
      %h2.panel-title= link_to assignment, assignment.details, target: '_blank'
    - if submissions.count == 0
      .panel-body
        %p No submissions for this assignment yet.
    .list-group
      - submissions.each do |submission|
        %div.list-group-item
          .btn-group.pull-right
            - unless submission.feedback.blank?
              %a.btn.btn-default{href: submission.feedback, target: '_blank'}
                %span.glyphicon.glyphicon-comment
                Feedback
            %a.btn.btn-default.pull-right{href: submission.github_url, target: '_blank'}
              %span{class: 'icon-github-2'}
              View
          %h4.list-group-item-heading
            - if admin?
              %a{href: edit_student_submission_path(@student, submission)}= submission
            - else
              = submission
          %p
            =submission.status_label
    - if submissions.completed.count > 0
      .panel-footer Lab Completed!
