- title "#{@submission.tag} - Edit"
.page-header
  = link_to @submission.github_url, :class => 'btn btn-default' do
    %span.icon-github-2
    GitHub
  = link_to [@student, @submission], :class => 'btn btn-default', method: :delete do
    %span.glyphicon.glyphicon-remove
    Destroy
  = link_to @student, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  %h1="#{@student} - #{@submission}"

= render 'form'
